2013-v1/archive.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright © 2011-2013 Geneabase BV. Licenced under CC BY 3.0 http://creativecommons.org/licenses/by/3.0/ -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:a="http://schemas.geneabase.com/2013-v1/archive"
    xmlns:r="http://schemas.geneabase.com/2013-v1/register"
    xmlns:g="http://schemas.geneabase.com/2013-v1/geneabase"
    xmlns:h="http://schemas.geneabase.com/2013-v1/html"
    xmlns:xml="http://www.w3.org/XML/1998/namespace"
    targetNamespace="http://schemas.geneabase.com/2013-v1/archive" elementFormDefault="qualified">
    <xs:import namespace="http://schemas.geneabase.com/2013-v1/html"
        schemaLocation="http://schemas.geneabase.com/2013-v1/html.xsd"/>
    <xs:import namespace="http://schemas.geneabase.com/2013-v1/geneabase"
        schemaLocation="http://schemas.geneabase.com/2013-v1/geneabase.xsd"/>
    <xs:import namespace="http://www.w3.org/XML/1998/namespace"
        schemaLocation="http://schemas.geneabase.com/w3c/xml.xsd"/>
    <xs:element name="archive" type="a:archiveType">
        <xs:unique name="uniqueUnitID">
            <xs:selector xpath=".//*"/>
            <xs:field xpath="@id"/>
        </xs:unique>
        <xs:unique name="uniqueUnitCode">
            <xs:selector xpath="./*"/>
            <xs:field xpath="@code"/>
        </xs:unique>
    </xs:element>
    <xs:element name="class">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="a:unitType">
                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                        <xs:element ref="a:class"/>
                        <xs:element ref="a:file"/>
                        <xs:element ref="a:item"/>
                    </xs:choice>
                    <xs:attribute name="level" use="required" type="a:unitEnumType"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
        <xs:unique name="uniqueSubUnitCode">
            <xs:selector xpath="./*"/>
            <xs:field xpath="@code"/>
        </xs:unique>
    </xs:element>
    <xs:element name="file">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="a:unitType">
                    <xs:choice minOccurs="0">
                        <xs:element maxOccurs="unbounded" name="item" type="a:unitType"/>
                        <xs:element name="record" type="a:fileType"/>
                        <xs:element name="folder" type="a:folderType"/>
                    </xs:choice>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
        <xs:unique name="uniqueItemCode">
            <xs:selector xpath="./*"/>
            <xs:field xpath="@code"/>
        </xs:unique>
    </xs:element>
    <xs:element name="item">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="a:unitType">
                    <xs:choice minOccurs="0">
                        <xs:element name="record" type="a:fileType"/>
                        <xs:element name="folder" type="a:folderType"/>
                    </xs:choice>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element abstract="false" name="summary" type="a:summaryType"/>
    <xs:element name="description" type="a:descriptionType"/>
    <xs:complexType name="archiveType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="title" type="a:titleType"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="shortTitle"
                type="a:shortTitleType"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="description"
                type="a:descriptionType"/>
            <xs:choice minOccurs="0">
                <xs:element name="date">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="g:dateType">
                                <xs:attribute default="false" name="roughly" type="xs:boolean"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="period">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="from">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="g:dateType">
                                            <xs:attribute default="false" name="roughly"
                                                type="xs:boolean"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="until">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="g:dateType">
                                            <xs:attribute default="false" name="roughly"
                                                type="xs:boolean"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
            <xs:element minOccurs="0" name="origin" type="a:originType"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="link" type="g:linkType"/>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element maxOccurs="1" ref="a:class"/>
                <xs:element maxOccurs="1" ref="a:file" minOccurs="1"/>
                <xs:element ref="a:item"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="a:idAttributes"/>
        <xs:attributeGroup ref="a:archiveAttributes"/>
    </xs:complexType>
    <xs:complexType name="unitType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="title" type="a:titleType"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="description"
                type="a:descriptionType"/>
            <xs:choice minOccurs="0">
                <xs:element name="date">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="g:dateType">
                                <xs:attribute default="false" name="roughly" type="xs:boolean"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="period">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="from">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="g:dateType">
                                            <xs:attribute default="false" name="roughly"
                                                type="xs:boolean"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="until">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="g:dateType">
                                            <xs:attribute default="false" name="roughly"
                                                type="xs:boolean"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
            <xs:element minOccurs="0" name="origin" type="a:originType"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="link" type="g:linkType"/>
        </xs:sequence>
        <xs:attributeGroup ref="a:idAttributes"/>
        <xs:attributeGroup ref="a:unitAttributes"/>
    </xs:complexType>

    <xs:complexType name="originType">
        <xs:choice maxOccurs="unbounded">
            <xs:element name="organization" type="g:string200"> </xs:element>
            <xs:element name="family" type="g:string200"/>
            <xs:element name="person" type="g:string200"> </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="unitEnumType">
        <xs:annotation>
            <xs:documentation xml:lang="en"/>
            <xs:documentation xml:lang="nl"/>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:enumeration value="fonds">
                <xs:annotation>
                    <xs:documentation xml:lang="en"> The fonds is generally the highest level of arrangement, and is usually used to describe the whole of the archives of an organisation or the papers of an individual.</xs:documentation>
                    <xs:documentation xml:lang="nl"/>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="sub-fonds">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Fonds may be devided into sub-fonds, generally the records of different branches of an organisation or major themes within the papers of an individual.</xs:documentation>
                    <xs:documentation xml:lang="nl"/>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="series">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Series may be in a smaller archive come, either below a sub-fonds, or directly below a fonds, usually used for groupings of individual types of documents (minutes, correspondence files, deeds, etc.)</xs:documentation>
                    <xs:documentation xml:lang="nl"/>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="sub-series">
                <xs:annotation>
                    <xs:documentation xml:lang="en">A futher subdivision of series.</xs:documentation>
                    <xs:documentation xml:lang="nl"/>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="group"/>
            <xs:enumeration value="sub-group"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="archiveEnumType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="fonds"/>
            <xs:enumeration value="collection"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="titleType">
        <xs:simpleContent>
            <xs:extension base="g:string200">
                <xs:attribute ref="xml:lang" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="shortTitleType">
        <xs:simpleContent>
            <xs:extension base="g:string100">
                <xs:attribute ref="xml:lang"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="summaryType">
        <xs:complexContent>
            <xs:extension base="h:Flow">
                <xs:attribute ref="xml:lang"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="descriptionType">
        <xs:complexContent>
            <xs:extension base="h:Flow">
                <xs:attribute ref="xml:lang"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:attributeGroup name="archiveAttributes">
        <xs:attribute name="code" type="g:string24" use="required">
            <xs:annotation>
                <xs:documentation xml:lang="en">A code that uniquely identifies this archive within the repository. This code is used for presentation, as prefix of the title.</xs:documentation>
                <xs:documentation xml:lang="nl">Een code waarmee dit item uniek wordt aangeduid binnen de repository. Deze code is wordt gebruikt in de presentatie, als prefix van de titel.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="type" use="required" type="a:archiveEnumType"/>
        <xs:attribute ref="xml:lang"/>
        <xs:attribute name="deleted" use="optional" type="xs:boolean" default="false"/>
        <xs:attribute name="accessible" use="optional" type="xs:boolean"> </xs:attribute>
        <xs:attribute name="requestable" type="xs:boolean">
            <xs:annotation>
                <xs:documentation xml:lang="en">The default value for units for which the requestable attribute has not been specified.</xs:documentation>
                <xs:documentation xml:lang="nl">De standaard waarde voor units waarvan het "requestable" attribuut niet gespecificeerd is.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="disclosure" type="xs:date"/>
        <xs:attribute name="date" type="g:dateType"/>
        <xs:attribute name="from" type="g:dateType"/>
        <xs:attribute name="until" type="g:dateType"/>
        <xs:attribute name="version" type="xs:dateTime" use="required"/>
    </xs:attributeGroup>

    <xs:attributeGroup name="idAttributes">
        <xs:attribute name="id" type="g:remoteIDType" use="required"/>
        <xs:attribute name="repository" type="g:repositoryIDType">
            <xs:annotation>
                <xs:documentation xml:lang="en">This attribute must, and may only, be used at the root element of the xml.</xs:documentation>
                <xs:documentation xml:lang="nl">Dit attribuut moet, en mag alleen, gebruikt worden voor het root element van de xml.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:attributeGroup name="unitAttributes">
        <xs:attribute name="code" type="g:string24" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="en">A code that, uniquely identifies this item (at least) within it's parent class, or within the archive if it does not have a parent. This code is used for presentation.</xs:documentation>
                <xs:documentation xml:lang="nl">Een code waarmee dit item (minimaal) uniek aanduid binnen de moeder class, of binnen het archief als het geen moeder class heeft. Deze code wordt gebruikt in de presentatie.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute ref="xml:lang"/>
        <xs:attribute name="accessability" use="optional" default="restricted">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="restricted"/>
                    <xs:enumeration value="limited"/>
                    <xs:enumeration value="public"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="requestable" use="optional" type="xs:boolean">
            <xs:annotation>
                <xs:documentation xml:lang="en">Specifies wether a file can be requested for digitization or not. If not specified, the default value of the parent unit applies, or else the value which is defined at the archive level. It is not needed to specify this attribute for files that already have been digitized, since it is obvious that they can no longer be requested for digitization.</xs:documentation>
                <xs:documentation xml:lang="nl">Specificeert of een file kan worden aangevraagd ter digitalisering of niet. Indien niet expliciet aangegeven, geldt als default de waarde van de parent unit, of anders de waarde die is aangegeven voor de collectie als geheel. Het is niet nodig om dit attribuut te gebruiken voor files die al gedigitaliseerd zijn, omdat het evident is dat digitalisering hiervoor niet (meer) kan worden aangevraagd.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="disclosure" type="xs:date"/>
        <xs:attribute name="date" type="g:dateType"/>
        <xs:attribute name="from" type="g:dateType"/>
        <xs:attribute name="until" type="g:dateType"/>
    </xs:attributeGroup>

    <xs:complexType name="folderType">
        <xs:attribute name="id" type="g:uuidType" use="optional"/>
        <xs:attribute name="name" type="g:fileNameType" use="optional"/>
    </xs:complexType>
    <xs:complexType name="physicalUnitsType">
        <xs:simpleContent>
            <xs:extension base="xs:decimal">
                <xs:attribute name="unit" use="required">
                    <xs:simpleType>
                        <xs:restriction base="xs:token">
                            <xs:enumeration value="meter"/>
                            <xs:enumeration value="unit"/>
                            <xs:enumeration value="book"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="fileType">
        <xs:attribute name="id" type="g:uuidType" use="optional"/>
        <xs:attribute name="folder" type="g:uuidType" use="optional"/>
        <xs:attribute name="name" type="g:fileNameType" use="optional"/>
        <xs:attribute name="ext" type="g:extensionType" use="optional"/>
    </xs:complexType>
    <xs:simpleType name="originRoleType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="author"/>
            <xs:enumeration value="collector"/>
            <xs:enumeration value="accumulator"/>
            <xs:enumeration value="dealer"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
