2013-v1/collection.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright © 2011-2013 Geneabase BV, version 2.0.1 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:col="http://schemas.geneabase.com/2013-v1/collection"
    xmlns:gb="http://schemas.geneabase.com/2013-v1/geneabase"
    xmlns:xhtml="http://www.w3.org/1999/xhtml"
    targetNamespace="http://schemas.geneabase.com/2013-v1/collection" elementFormDefault="qualified">
    <xs:import namespace="http://www.w3.org/1999/xhtml"
        schemaLocation="http://schemas.geneabase.com/2013-v1/xhtml1-reduced.xsd"/>
    <xs:import namespace="http://schemas.geneabase.com/2013-v1/geneabase"
        schemaLocation="http://schemas.geneabase.com/2013-v1/geneabase.xsd"/>
    <xs:element name="collection">
        <xs:complexType>
            <xs:sequence>
                <xs:group maxOccurs="1" minOccurs="1" ref="col:c-elements"/>
                <xs:choice maxOccurs="1" minOccurs="0">
                    <xs:element name="files" type="col:filesType"/>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="c01" type="col:c01"/>
                    </xs:sequence>
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:attributeGroup name="c-attributes">
        <xs:attribute name="level" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="class"/>
                    <xs:enumeration value="collection"/>
                    <xs:enumeration value="file"/>
                    <xs:enumeration value="fonds"/>
                    <xs:enumeration value="item"/>
                    <xs:enumeration value="otherlevel"/>
                    <xs:enumeration value="recordgrp"/>
                    <xs:enumeration value="series"/>
                    <xs:enumeration value="subfonds"/>
                    <xs:enumeration value="subgrp"/>
                    <xs:enumeration value="subseries"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="obsolete" use="optional" type="xs:boolean" default="false"/>
        <xs:attribute name="accessible" use="optional" default="public">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="public"/>
                    <xs:enumeration value="restricted"/>
                    <xs:enumeration value="none"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="digitization" use="optional" default="ondemand">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="impossible"/>
                    <xs:enumeration value="ondemand"/>
                    <xs:enumeration value="pending"/>
                    <xs:enumeration value="completed"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="startDate" type="gb:dateType"/>
        <xs:attribute name="endDate" type="gb:dateType"/>
        <xs:attribute name="code" type="xs:token" use="optional"/>
        <xs:attribute name="altID" type="xs:ID"/>
        <xs:attribute name="id" use="required" type="gb:uuidType"/>
    </xs:attributeGroup>

    <xs:group name="c-elements">
        <xs:sequence>
            <xs:element minOccurs="1" name="title" type="xs:string"/>
            <xs:element name="description" type="xhtml:Flow"/>
            <xs:element name="physicalUnits" type="col:physicalUnitsType" minOccurs="0"
                maxOccurs="1"/>
        </xs:sequence>
    </xs:group>

    <xs:complexType name="fileType">
        <xs:attribute name="id" type="gb:uuidType" use="optional"/>
        <xs:attribute name="folder" type="gb:uuidType" use="optional"/>
        <xs:attribute name="name" type="gb:fileNameType" use="optional"/>
        <xs:attribute name="ext" type="gb:extensionType" use="optional"/>
    </xs:complexType>
    
    <xs:complexType name="folderType">
        <xs:attribute name="id" type="gb:uuidType" use="optional"/>
        <xs:attribute name="name" type="gb:fileNameType" use="optional"/>
    </xs:complexType>
    
    <xs:complexType name="filesType">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="unbounded" name="file" type="col:fileType"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="folder" type="col:folderType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="physicalUnitsType">
        <xs:simpleContent>
            <xs:extension base="xs:decimal">
                <xs:attribute name="unit" use="required">
                    <xs:simpleType>
                        <xs:restriction base="xs:token">
                            <xs:enumeration value="meter"/>
                            <xs:enumeration value="unit"/>
                            <xs:enumeration value="book"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="c01">
        <xs:sequence>
            <xs:group maxOccurs="1" minOccurs="1" ref="col:c-elements"/>
            <xs:choice maxOccurs="1" minOccurs="0">
                <xs:element name="files" type="col:filesType"/>
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="c02" type="col:c02"/>
                </xs:sequence>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="col:c-attributes"/>
    </xs:complexType>
    <xs:complexType name="c02">
        <xs:sequence>
            <xs:group maxOccurs="1" minOccurs="1" ref="col:c-elements"/>
            <xs:choice maxOccurs="1" minOccurs="0">
                <xs:element name="files" type="col:filesType"/>
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="c03" type="col:c03"/>
                </xs:sequence>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="col:c-attributes"/>
    </xs:complexType>
    <xs:complexType name="c03">
        <xs:sequence>
            <xs:group maxOccurs="1" minOccurs="1" ref="col:c-elements"/>
            <xs:choice maxOccurs="1" minOccurs="0">
                <xs:element name="files" type="col:filesType"/>
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="c04" type="col:c04"/>
                </xs:sequence>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="col:c-attributes"/>
    </xs:complexType>
    <xs:complexType name="c04">
        <xs:sequence>
            <xs:group maxOccurs="1" minOccurs="1" ref="col:c-elements"/>
            <xs:choice maxOccurs="1" minOccurs="0">
                <xs:element name="files" type="col:filesType"/>
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="c05" type="col:c05"/>
                </xs:sequence>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="col:c-attributes"/>
    </xs:complexType>
    <xs:complexType name="c05">
        <xs:sequence>
            <xs:group maxOccurs="1" minOccurs="1" ref="col:c-elements"/>
            <xs:choice maxOccurs="1" minOccurs="0">
                <xs:element name="files" type="col:filesType"/>
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="c06" type="col:c06"/>
                </xs:sequence>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="col:c-attributes"/>
    </xs:complexType>
    <xs:complexType name="c06">
        <xs:sequence>
            <xs:group maxOccurs="1" minOccurs="1" ref="col:c-elements"/>
            <xs:choice maxOccurs="1" minOccurs="0">
                <xs:element name="files" type="col:filesType"/>
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="c07" type="col:c07"/>
                </xs:sequence>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="col:c-attributes"/>
    </xs:complexType>
    <xs:complexType name="c07">
        <xs:sequence>
            <xs:group maxOccurs="1" minOccurs="1" ref="col:c-elements"/>
            <xs:choice maxOccurs="1" minOccurs="0">
                <xs:element name="files" type="col:filesType"/>
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="c08" type="col:c08"/>
                </xs:sequence>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="col:c-attributes"/>
    </xs:complexType>
    <xs:complexType name="c08">
        <xs:sequence>
            <xs:group maxOccurs="1" minOccurs="1" ref="col:c-elements"/>
            <xs:choice maxOccurs="1" minOccurs="0">
                <xs:element name="files" type="col:filesType"/>
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="c09" type="col:c09"/>
                </xs:sequence>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="col:c-attributes"/>
    </xs:complexType>
    <xs:complexType name="c09">
        <xs:sequence>
            <xs:group maxOccurs="1" minOccurs="1" ref="col:c-elements"/>
            <xs:choice maxOccurs="1" minOccurs="0">
                <xs:element name="files" type="col:filesType"/>
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="c10" type="col:c10"/>
                </xs:sequence>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="col:c-attributes"/>
    </xs:complexType>
    <xs:complexType name="c10">
        <xs:sequence>
            <xs:group maxOccurs="1" minOccurs="1" ref="col:c-elements"/>
            <xs:choice maxOccurs="1" minOccurs="0">
                <xs:element name="files" type="col:filesType"/>
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="c11" type="col:c11"/>
                </xs:sequence>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="col:c-attributes"/>
    </xs:complexType>
    <xs:complexType name="c11">
        <xs:sequence>
            <xs:group maxOccurs="1" minOccurs="1" ref="col:c-elements"/>
            <xs:choice maxOccurs="1" minOccurs="0">
                <xs:element name="files" type="col:filesType"/>
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="c12" type="col:c12"/>
                </xs:sequence>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="col:c-attributes"/>
    </xs:complexType>
    <xs:complexType name="c12">
        <xs:sequence>
            <xs:group maxOccurs="1" minOccurs="1" ref="col:c-elements"/>
            <xs:element name="files" minOccurs="0" maxOccurs="1" type="col:filesType"/>
        </xs:sequence>
        <xs:attributeGroup ref="col:c-attributes"/>
    </xs:complexType>


</xs:schema>
