2013-v1/description.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright © 2011-2013 Geneabase BV. Licenced under CC BY 3.0 http://creativecommons.org/licenses/by/3.0/ -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:d="http://schemas.geneabase.com/2013-v1/description"
    xmlns:r="http://schemas.geneabase.com/2013-v1/register"
    xmlns:g="http://schemas.geneabase.com/2013-v1/geneabase"
    xmlns:h="http://schemas.geneabase.com/2013-v1/html"
    xmlns:xml="http://www.w3.org/XML/1998/namespace"
    targetNamespace="http://schemas.geneabase.com/2013-v1/description"
    elementFormDefault="qualified">
    <xs:import namespace="http://schemas.geneabase.com/2013-v1/html"
        schemaLocation="http://schemas.geneabase.com/2013-v1/html.xsd"/>
    <xs:import namespace="http://schemas.geneabase.com/2013-v1/geneabase"
        schemaLocation="http://schemas.geneabase.com/2013-v1/geneabase.xsd"/>
    <xs:import namespace="http://www.w3.org/XML/1998/namespace"
        schemaLocation="http://schemas.geneabase.com/w3c/xml.xsd"/>
    <xs:element name="repository">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="d:info" maxOccurs="unbounded"/>
                <xs:choice minOccurs="0">
                    <xs:element name="date">
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="g:dateType">
                                    <xs:attribute default="false" name="approx" type="xs:boolean"/>
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="period">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="from">
                                    <xs:complexType>
                                        <xs:simpleContent>
                                            <xs:extension base="g:dateType">
                                                <xs:attribute default="false" name="approx"
                                                  type="xs:boolean"/>
                                            </xs:extension>
                                        </xs:simpleContent>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="through">
                                    <xs:complexType>
                                        <xs:simpleContent>
                                            <xs:extension base="g:dateType">
                                                <xs:attribute default="false" name="approx"
                                                  type="xs:boolean"/>
                                            </xs:extension>
                                        </xs:simpleContent>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:choice>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="d:physical"/>
                <xs:element minOccurs="0" name="origin" type="d:originType"/>
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="d:archive"/>
                    <xs:element ref="d:collection"/>
                </xs:choice>
            </xs:sequence>
            <xs:attributeGroup ref="d:repositoryAttributes"/>
        </xs:complexType>
        <xs:unique name="uniqueArchiveCollectionID">
            <xs:selector xpath="./d:archive|./d:collection"/>
            <xs:field xpath="@id"/>
        </xs:unique>
        <xs:unique name="uniqueArchiveCollectionCode">
            <xs:selector xpath="./d:archive|./d:collection"/>
            <xs:field xpath="@code"/>
        </xs:unique>
        <xs:unique name="uniqueRepoUnitID">
            <xs:selector xpath=".//d:group|.//d:file|.//d:item"/>
            <xs:field xpath="@id"/>
        </xs:unique>
    </xs:element>
    <xs:element name="archive" type="d:inventoryType">
        <xs:unique name="uniqueArchiveUnitID">
            <xs:selector xpath=".//d:group|.//d:file|.//d:item"/>
            <xs:field xpath="@id"/>
        </xs:unique>
        <xs:unique name="uniqueArchiveUnitCode">
            <xs:selector xpath="./*"/>
            <xs:field xpath="@code"/>
        </xs:unique>
        <xs:unique name="uniqueArchiveInfoLanguage">
            <xs:selector xpath="./d:info"/>
            <xs:field xpath="@xml:lang"/>
        </xs:unique>
        <xs:unique name="uniqueArchivePhysical">
            <xs:selector xpath="./d:physical"/>
            <xs:field xpath="@nr"/>
        </xs:unique>
        <xs:unique name="uniqueArchiveOrigin">
            <xs:selector xpath="./d:origin"/>
            <xs:field xpath="@nr"/>
        </xs:unique>
        <xs:unique name="uniqueArchiveLink">
            <xs:selector xpath="./d:link"/>
            <xs:field xpath="@nr"/>
        </xs:unique>
    </xs:element>
    <xs:element name="collection" type="d:inventoryType">
        <xs:unique name="uniqueCollectionUnitID">
            <xs:selector xpath=".//d:group|.//d:file|.//d:item"/>
            <xs:field xpath="@id"/>
        </xs:unique>
        <xs:unique name="uniqueCollectionUnitCode">
            <xs:selector xpath="d:group|d:file|d:item"/>
            <xs:field xpath="@code"/>
        </xs:unique>
        <xs:unique name="uniqueCollectionInfoLanguage">
            <xs:selector xpath="./d:info"/>
            <xs:field xpath="@xml:lang"/>
        </xs:unique>
        <xs:unique name="uniqueCollectionPhysical">
            <xs:selector xpath="./d:physical"/>
            <xs:field xpath="@nr"/>
        </xs:unique>
        <xs:unique name="uniqueCollectionOrigin">
            <xs:selector xpath="./d:origin"/>
            <xs:field xpath="@nr"/>
        </xs:unique>
        <xs:unique name="uniqueCollectionLink">
            <xs:selector xpath="./d:link"/>
            <xs:field xpath="@nr"/>
        </xs:unique>
    </xs:element>
    <xs:element name="group">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="d:componentType">
                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                        <xs:element ref="d:group"/>
                        <xs:element ref="d:file"/>
                    </xs:choice>
                    <xs:attribute name="level" use="required" type="d:groupLevelEnumType"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
        <xs:unique name="uniqueGroupCode">
            <xs:selector xpath="./*"/>
            <xs:field xpath="@code"/>
        </xs:unique>
        <xs:unique name="uniqueGroupInfoLanguage">
            <xs:selector xpath="./d:info"/>
            <xs:field xpath="@xml:lang"/>
        </xs:unique>
        <xs:unique name="uniqueGroupPhysical">
            <xs:selector xpath="./d:physical"/>
            <xs:field xpath="@nr"/>
        </xs:unique>
        <xs:unique name="uniqueGroupOrigin">
            <xs:selector xpath="./d:origin"/>
            <xs:field xpath="@nr"/>
        </xs:unique>
        <xs:unique name="uniqueGroupLink">
            <xs:selector xpath="./d:link"/>
            <xs:field xpath="@nr"/>
        </xs:unique>
    </xs:element>
    <xs:element name="file">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="d:componentType">
                    <xs:choice minOccurs="0">
                        <xs:element maxOccurs="unbounded" name="item" type="d:componentType"/>
                        <xs:element name="record" type="d:fileType"/>
                        <xs:element name="folder" type="d:folderType"/>
                    </xs:choice>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
        <xs:unique name="uniqueFileCode">
            <xs:selector xpath="./*"/>
            <xs:field xpath="@code"/>
        </xs:unique>
        <xs:unique name="uniqueFileInfoLanguage">
            <xs:selector xpath="./d:info"/>
            <xs:field xpath="@xml:lang"/>
        </xs:unique>
        <xs:unique name="uniqueFilePhysical">
            <xs:selector xpath="./d:physical"/>
            <xs:field xpath="@nr"/>
        </xs:unique>
        <xs:unique name="uniqueFileOrigin">
            <xs:selector xpath="./d:origin"/>
            <xs:field xpath="@nr"/>
        </xs:unique>
        <xs:unique name="uniqueFileLink">
            <xs:selector xpath="./d:link"/>
            <xs:field xpath="@nr"/>
        </xs:unique>
    </xs:element>
    <xs:element name="link">
        <xs:complexType>
            <xs:attribute default="1" name="nr" type="xs:unsignedByte"/>
            <xs:attribute name="site" type="g:string50" use="required"/>
            <xs:attribute name="key" type="g:string36"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="item">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="d:componentType">
                    <xs:choice minOccurs="0">
                        <xs:element name="record" type="d:fileType"/>
                        <xs:element name="folder" type="d:folderType"/>
                    </xs:choice>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
        <xs:unique name="uniqueItemInfoLanguage">
            <xs:selector xpath="./d:title"/>
            <xs:field xpath="@xml:lang"/>
        </xs:unique>
        <xs:unique name="uniqueItemPhysical">
            <xs:selector xpath="./d:physical"/>
            <xs:field xpath="@nr"/>
        </xs:unique>
        <xs:unique name="uniqueItemOrigin">
            <xs:selector xpath="./d:origin"/>
            <xs:field xpath="@nr"/>
        </xs:unique>
        <xs:unique name="uniqueItemLink">
            <xs:selector xpath="./d:link"/>
            <xs:field xpath="@nr"/>
        </xs:unique>
    </xs:element>
    <xs:element name="physical">
        <xs:complexType>
            <xs:choice>
                <xs:element name="unit">
                    <xs:complexType>
                        <xs:attribute name="type" type="d:physicalUnitTypeEnum" default="Item"/>
                        <xs:attribute default="1" name="count" type="xs:positiveInteger"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="container">
                    <xs:complexType>
                        <xs:sequence maxOccurs="1">
                            <xs:element name="unit">
                                <xs:complexType>
                                    <xs:attribute name="type" type="d:physicalUnitTypeEnum"/>
                                    <xs:attribute name="count" type="xs:positiveInteger"/>
                                    <xs:attribute name="nr" type="g:positiveByte"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="type" type="d:physicalContainerTypeEnum"/>
                        <xs:attribute name="count" default="1" type="xs:positiveInteger"/>
                    </xs:complexType>
                    <xs:unique name="uniqueContainerUnitNr">
                        <xs:selector xpath="d:unit"/>
                        <xs:field xpath="@nr"/>
                    </xs:unique>
                </xs:element>
            </xs:choice>
            <xs:attribute default="1" name="nr" type="g:positiveByte"/>
        </xs:complexType>
    </xs:element>
    <xs:element abstract="false" name="summary" type="d:summaryType"/>
    <xs:element name="description" type="d:descriptionType"/>
    <xs:element name="info" type="d:infoType"/>
    <xs:complexType name="infoType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="title" type="d:titleType"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="longTitle" type="d:longTitleType"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="description"
                type="d:descriptionType"/>
        </xs:sequence>
        <xs:attribute ref="xml:lang" use="required"/>
    </xs:complexType>
    <xs:complexType name="inventoryType">
        <xs:sequence>
            <xs:element ref="d:info" maxOccurs="unbounded"/>
            <xs:choice minOccurs="0">
                <xs:element name="date">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="g:dateType">
                                <xs:attribute default="false" name="approx" type="xs:boolean"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="period">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="from">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="g:dateType">
                                            <xs:attribute default="false" name="approx"
                                                type="xs:boolean"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="through">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="g:dateType">
                                            <xs:attribute default="false" name="approx"
                                                type="xs:boolean"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="d:physical"/>
            <xs:element minOccurs="0" name="origin" type="d:originType"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="d:link"/>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element maxOccurs="1" ref="d:group"/>
                <xs:element ref="d:file"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="d:inventoryAttributes"/>
    </xs:complexType>
    <xs:complexType name="componentType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" ref="d:info"/>
            <xs:choice minOccurs="0">
                <xs:element name="date">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="g:dateType">
                                <xs:attribute default="false" name="approx" type="xs:boolean"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="period">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="from">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="g:dateType">
                                            <xs:attribute default="false" name="approx"
                                                type="xs:boolean"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="through">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="g:dateType">
                                            <xs:attribute default="false" name="approx"
                                                type="xs:boolean"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="d:physical"/>
            <xs:element minOccurs="0" name="origin" maxOccurs="1" type="d:originType"> </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="d:link"/>
        </xs:sequence>
        <xs:attributeGroup ref="d:unitAttributes"/>
    </xs:complexType>
    <xs:complexType name="originType">
        <xs:choice maxOccurs="unbounded">
            <xs:element name="organization">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="g:string200">
                            <xs:attribute default="1" name="nr" type="xs:unsignedByte"/>
                            <xs:attribute name="id" type="g:uuidType"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="family">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="g:string200">
                            <xs:attribute default="1" name="nr" type="xs:unsignedByte"/>
                            <xs:attribute name="id" type="g:uuidType"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="person">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="g:string200">
                            <xs:attribute default="1" name="nr" type="xs:unsignedByte"/>
                            <xs:attribute name="id" type="g:uuidType"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="groupLevelEnumType">
        <xs:annotation>
            <xs:documentation xml:lang="en"/>
            <xs:documentation xml:lang="nl"/>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:enumeration value="fonds">
                <xs:annotation>
                    <xs:documentation xml:lang="en"> The fonds is generally the highest level of arrangement, and is usually used to describe the whole of the inventorys of an organisation or the papers of an individual.</xs:documentation>
                    <xs:documentation xml:lang="nl"/>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="sub-fonds">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Fonds may be devided into sub-fonds, generally the records of different branches of an organisation or major themes within the papers of an individual.</xs:documentation>
                    <xs:documentation xml:lang="nl"/>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="series">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Series may be in a smaller inventory come, either below a sub-fonds, or directly below a fonds, usually used for groupings of individual types of documents (minutes, correspondence files, deeds, etc.)</xs:documentation>
                    <xs:documentation xml:lang="nl"/>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="sub-series">
                <xs:annotation>
                    <xs:documentation xml:lang="en">A futher subdivision of series.</xs:documentation>
                    <xs:documentation xml:lang="nl"/>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="group"/>
            <xs:enumeration value="sub-group"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="titleType">
        <xs:simpleContent>
            <xs:extension base="g:string100"> </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="longTitleType">
        <xs:simpleContent>
            <xs:extension base="g:string400"> </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="summaryType">
        <xs:complexContent>
            <xs:extension base="h:Flow">
                <xs:attribute ref="xml:lang"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="descriptionType">
        <xs:complexContent>
            <xs:extension base="h:Flow"> </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:attributeGroup name="repositoryAttributes">
        <xs:attribute name="id" type="g:uuidType" use="required"/>
        <xs:attribute name="code" type="g:isilType" use="optional"> </xs:attribute>
        <xs:attribute name="deleted" use="optional" type="xs:boolean" default="false"/>
        <xs:attribute name="public" use="optional" type="xs:boolean" default="true"/>
        <xs:attribute name="requestable" type="xs:boolean">
            <xs:annotation>
                <xs:documentation xml:lang="en">The default value for units for which the requestable attribute has not been specified.</xs:documentation>
                <xs:documentation xml:lang="nl">De standaard waarde voor units waarvan het "requestable" attribuut niet gespecificeerd is.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="publicDate" type="xs:date"/>
        <xs:attribute name="version" type="xs:dateTime" use="required"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="inventoryAttributes">
        <xs:attribute name="id" type="g:remoteIDType" use="required"/>
        <xs:attribute name="prevID" type="g:remoteIDType" use="optional"/>
        <xs:attribute name="code" type="g:string24" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="en">A code that uniquely identifies this inventory within the repository. This code is used for presentation, as prefix of the title.</xs:documentation>
                <xs:documentation xml:lang="nl">Een code waarmee dit item uniek wordt aangeduid binnen de repository. Deze code is wordt gebruikt in de presentatie, als prefix van de titel.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="repository" type="g:repositoryIDType">
            <xs:annotation>
                <xs:documentation xml:lang="en">This attribute must, and may only, be used at the root element of the xml.</xs:documentation>
                <xs:documentation xml:lang="nl">Dit attribuut moet, en mag alleen, gebruikt worden voor het root element van de xml.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="deleted" use="optional" type="xs:boolean" default="false"/>
        <xs:attribute name="public" use="optional" type="xs:boolean" default="true"> </xs:attribute>
        <xs:attribute name="requestable" type="xs:boolean">
            <xs:annotation>
                <xs:documentation xml:lang="en">The default value for units for which the requestable attribute has not been specified.</xs:documentation>
                <xs:documentation xml:lang="nl">De standaard waarde voor units waarvan het "requestable" attribuut niet gespecificeerd is.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="publicDate" type="xs:date"/>
        <xs:attribute name="version" type="xs:dateTime" use="optional"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="unitAttributes">
        <xs:attribute name="id" type="g:remoteIDType" use="required"/>
        <xs:attribute name="prevID" type="g:remoteIDType" use="optional"/>
        <xs:attribute name="code" type="g:string24" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="en">A code that, uniquely identifies this item (at least) within it's parent class, or within the inventory if it does not have a parent. This code is used for presentation.</xs:documentation>
                <xs:documentation xml:lang="nl">Een code waarmee dit item (minimaal) uniek aanduid binnen de moeder class, of binnen het archief als het geen moeder class heeft. Deze code wordt gebruikt in de presentatie.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute ref="xml:lang"/>
        <xs:attribute name="repository" type="g:repositoryIDType">
            <xs:annotation>
                <xs:documentation xml:lang="en">This attribute must, and may only, be used at the root element of the xml.</xs:documentation>
                <xs:documentation xml:lang="nl">Dit attribuut moet, en mag alleen, gebruikt worden voor het root element van de xml.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="public" use="optional" type="xs:boolean" default="true"> </xs:attribute>
        <xs:attribute name="publicDate" type="xs:date"/>
        <xs:attribute name="requestable" use="optional" type="xs:boolean">
            <xs:annotation>
                <xs:documentation xml:lang="en">Specifies wether a file can be requested for digitization or not. If not specified, the default value of the parent unit applies, or else the value which is defined at the inventory level. It is not needed to specify this attribute for files that already have been digitized, since it is obvious that they can no longer be requested for digitization.</xs:documentation>
                <xs:documentation xml:lang="nl">Specificeert of een file kan worden aangevraagd ter digitalisering of niet. Indien niet expliciet aangegeven, geldt als default de waarde van de parent unit, of anders de waarde die is aangegeven voor de collectie als geheel. Het is niet nodig om dit attribuut te gebruiken voor files die al gedigitaliseerd zijn, omdat het evident is dat digitalisering hiervoor niet (meer) kan worden aangevraagd.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="requestableDate" type="xs:date"/>
    </xs:attributeGroup>

    <xs:complexType name="folderType">
        <xs:attribute name="id" type="g:uuidType" use="optional"/>
        <xs:attribute name="name" type="g:fileNameType" use="optional"/>
        <xs:attribute name="defaultAccess" type="d:accessType"/>
        <xs:attribute name="sellableAcces" type="d:accessType"/>
    </xs:complexType>
    <xs:complexType name="physicalType">
        <xs:simpleContent>
            <xs:extension base="g:decimalTwoPrec"> </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="fileType">
        <xs:attribute name="id" type="g:uuidType" use="optional"/>
        <xs:attribute name="folder" type="g:uuidType" use="optional"/>
        <xs:attribute name="name" type="g:fileNameType" use="optional"/>
        <xs:attribute name="ext" type="g:extensionType" use="optional"/>
        <xs:attribute name="defaultAccess" type="d:accessType"/>
        <xs:attribute name="sellableAcces" type="d:accessType"/>
    </xs:complexType>
    <xs:simpleType name="accessTypeEnum">
        <xs:restriction base="xs:token">
            <xs:enumeration value="Metadata"/>
            <xs:enumeration value="MetadataUnmasked"/>
            <xs:enumeration value="Thumbnail"/>
            <xs:enumeration value="ThumbnailUnmasked"/>
            <xs:enumeration value="ViewImage"/>
            <xs:enumeration value="ViewImageUnmasked"/>
            <xs:enumeration value="PrintImage"/>
            <xs:enumeration value="DownloadImageAsPDF"/>
            <xs:enumeration value="DownloadOriginalImage"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="accessAnyTypeEnum">
        <xs:restriction base="xs:token">
            <xs:enumeration value="All"/>
            <xs:enumeration value="None"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="accessSingleTypes">
        <xs:list itemType="d:accessTypeEnum"/>
    </xs:simpleType>
    <xs:simpleType name="accessType">
        <xs:union memberTypes="d:accessSingleTypes d:accessAnyTypeEnum"/>
    </xs:simpleType>

    <xs:simpleType name="physicalUnitTypeEnum">
        <xs:restriction base="xs:token">
            <xs:enumeration value="Album"/>
            <xs:enumeration value="Atlas"/>
            <xs:enumeration value="Audio Tape"/>
            <xs:enumeration value="Binding"/>
            <xs:enumeration value="Blueprint"/>
            <xs:enumeration value="Book"/>
            <xs:enumeration value="Box"/>
            <xs:enumeration value="Box File"/>
            <xs:enumeration value="Brochure"/>
            <xs:enumeration value="Bundle"/>
            <xs:enumeration value="Business Card"/>
            <xs:enumeration value="CD"/>
            <xs:enumeration value="Cahier"/>
            <xs:enumeration value="Card"/>
            <xs:enumeration value="Card System"/>
            <xs:enumeration value="Card System Box"/>
            <xs:enumeration value="Cartographic Map"/>
            <xs:enumeration value="Charter"/>
            <xs:enumeration value="Chirograph"/>
            <xs:enumeration value="Circular"/>
            <xs:enumeration value="Clip Binding"/>
            <xs:enumeration value="Clipping"/>
            <xs:enumeration value="Contract"/>
            <xs:enumeration value="Cover"/>
            <xs:enumeration value="DVD"/>
            <xs:enumeration value="Digital Email File"/>
            <xs:enumeration value="Digital File"/>
            <xs:enumeration value="Digital Image File"/>
            <xs:enumeration value="Digital Movie File"/>
            <xs:enumeration value="Digital Presentation File"/>
            <xs:enumeration value="Digital Sound File"/>
            <xs:enumeration value="Digital Spreadsheet File"/>
            <xs:enumeration value="Digital Text File"/>
            <xs:enumeration value="Digital Website"/>
            <xs:enumeration value="Document File"/>
            <xs:enumeration value="Drawing"/>
            <xs:enumeration value="Engraving"/>
            <xs:enumeration value="Envelope"/>
            <xs:enumeration value="Film Dia Positive"/>
            <xs:enumeration value="Film Negative"/>
            <xs:enumeration value="Film Negative Strip"/>
            <xs:enumeration value="Film Roll"/>
            <xs:enumeration value="Folder"/>
            <xs:enumeration value="Four Flap Enclosure"/>
            <xs:enumeration value="Frame"/>
            <xs:enumeration value="Glass Dia Positive"/>
            <xs:enumeration value="Glass Negative"/>
            <xs:enumeration value="Item"/>
            <xs:enumeration value="Letter"/>
            <xs:enumeration value="Lias"/>
            <xs:enumeration value="Magazine"/>
            <xs:enumeration value="Manuscript"/>
            <xs:enumeration value="Meter"/>
            <xs:enumeration value="Microfilm"/>
            <xs:enumeration value="Newspaper"/>
            <xs:enumeration value="Note"/>
            <xs:enumeration value="Notebook"/>
            <xs:enumeration value="Pennant"/>
            <xs:enumeration value="Photo Print"/>
            <xs:enumeration value="Portfolio"/>
            <xs:enumeration value="Postcard"/>
            <xs:enumeration value="Quire"/>
            <xs:enumeration value="Report"/>
            <xs:enumeration value="Ring Binder"/>
            <xs:enumeration value="Roll"/>
            <xs:enumeration value="Sheet"/>
            <xs:enumeration value="Sleeve"/>
            <xs:enumeration value="Stencil"/>
            <xs:enumeration value="Video Tape"/>
            <xs:enumeration value="Vinyl Record"/>
            <xs:enumeration value="Volume"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="physicalContainerTypeEnum">
        <xs:restriction base="xs:token">
            <xs:enumeration value="Album"/>
            <xs:enumeration value="Binding"/>
            <xs:enumeration value="Box"/>
            <xs:enumeration value="Box File"/>
            <xs:enumeration value="Bundle"/>
            <xs:enumeration value="CD"/>
            <xs:enumeration value="Card System"/>
            <xs:enumeration value="Card System Box"/>
            <xs:enumeration value="Clip Binding"/>
            <xs:enumeration value="Cover"/>
            <xs:enumeration value="DVD"/>
            <xs:enumeration value="Envelope"/>
            <xs:enumeration value="Film Negative Strip"/>
            <xs:enumeration value="Film Roll"/>
            <xs:enumeration value="Folder"/>
            <xs:enumeration value="Four Flap Enclosure"/>
            <xs:enumeration value="Frame"/>
            <xs:enumeration value="Lias"/>
            <xs:enumeration value="Meter"/>
            <xs:enumeration value="Portfolio"/>
            <xs:enumeration value="Ring Binder"/>
            <xs:enumeration value="Roll"/>
            <xs:enumeration value="Sleeve"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
