2013-v1/indexing.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright © 2011-2013 Geneabase BV. Licenced under CC BY 3.0 http://creativecommons.org/licenses/by/3.0/ -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:i="http://schemas.geneabase.com/2013-v1/indexing"
	xmlns:g="http://schemas.geneabase.com/2013-v1/geneabase"
	targetNamespace="http://schemas.geneabase.com/2013-v1/indexing" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.geneabase.com/2013-v1/geneabase"
		schemaLocation="http://schemas.geneabase.com/2013-v1/geneabase.xsd"/>
	<!-- strings -->
	<?gb sect=1 en="Types" nl="Types" id="Types"?>
	<?gb sect=2 en="String Types" nl="String types" id="String-types"?>
	<xs:annotation>
		<xs:documentation xml:lang="en">
			The following types are a generic set of string and
			number types, used by various elements.
		</xs:documentation>
		<xs:documentation xml:lang="nl">
			De volgende types zijn een generieke set van string
			en nummer types, en worden gebruikt door verschillende elementen.			
			Het is de bedoeling dat dit <strong>test</strong>balblab
		</xs:documentation>
	</xs:annotation>


	<?gb sect=2 en="Identifier Types" nl="Identificatie types" id="Id-types"?>
	<xs:simpleType name="personId">
		<xs:restriction base="xs:NCName">
			<xs:pattern value="p\d+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="placeId">
		<xs:restriction base="xs:NCName">
			<xs:pattern value="l\d+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="personOrPlaceId">
		<xs:restriction base="xs:NCName">
			<xs:pattern value="[lp]\d+"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="partType">
		<xs:restriction base="xs:positiveInteger">
			<xs:minInclusive value="1"/>
			<xs:maxExclusive value="10000"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="surnameTypesEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="patronymic"/>
			<xs:enumeration value="matronymic"/>
		</xs:restriction>
	</xs:simpleType>

	<?gb sect=2 en="Enumeration Types" nl="Enumeratie types" id="Enumerations"?>
	<?gb sect=3 en="Relation Role Enumeration Types" nl="Relatie rol enumeratie types" id="Role-enumerations"?>
	<?gb sect=4 en="Person Role Enumeration Types" nl="Persoon rol enumeratie types" id="Person-role-enumerations"?>

	<xs:simpleType name="personRoleEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="alias"/>
			<xs:enumeration value="attestant"/>
			<xs:enumeration value="aunt"/>
			<xs:enumeration value="baptized"/>
			<xs:enumeration value="bride"/>
			<xs:enumeration value="brother"/>
			<xs:enumeration value="buyer"/>
			<xs:enumeration value="child"/>
			<xs:enumeration value="convict"/>
			<xs:enumeration value="daughter"/>
			<xs:enumeration value="deceased"/>
			<xs:enumeration value="father"/>
			<xs:enumeration value="formerHusband"/>
			<xs:enumeration value="formerWife"/>
			<xs:enumeration value="friend"/>
			<xs:enumeration value="grandfather"/>
			<xs:enumeration value="grandmother"/>
			<xs:enumeration value="groom"/>
			<xs:enumeration value="husband"/>
			<xs:enumeration value="mother"/>
			<xs:enumeration value="other"/>
			<xs:enumeration value="parent"/>
			<xs:enumeration value="partner"/>
			<xs:enumeration value="registered"/>
			<xs:enumeration value="relation"/>
			<xs:enumeration value="relative"/>
			<xs:enumeration value="seller"/>
			<xs:enumeration value="sister"/>
			<xs:enumeration value="son"/>
			<xs:enumeration value="spouse"/>
			<xs:enumeration value="suspect"/>
			<xs:enumeration value="uncle"/>
			<xs:enumeration value="wife"/>
			<xs:enumeration value="witness"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="eventTypesEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="accomodation"/>
			<xs:enumeration value="adoption"/>
			<xs:enumeration value="adultChristening"/>
			<xs:enumeration value="alternateMarriage"/>
			<xs:enumeration value="annulment"/>
			<xs:enumeration value="arrival"/>
			<xs:enumeration value="baptism"/>
			<xs:enumeration value="barMitzvah"/>
			<xs:enumeration value="basMitzvah"/>
			<xs:enumeration value="birth"/>
			<xs:enumeration value="blessing"/>
			<xs:enumeration value="burial"/>
			<xs:enumeration value="causeOfDeath"/>
			<xs:enumeration value="census"/>
			<xs:enumeration value="christening"/>
			<xs:enumeration value="confession"/>
			<xs:enumeration value="confirmation"/>
			<xs:enumeration value="cremation"/>
			<xs:enumeration value="death"/>
			<xs:enumeration value="departure"/>
			<xs:enumeration value="divorce"/>
			<xs:enumeration value="divorceFiling"/>
			<xs:enumeration value="domicile"/>
			<xs:enumeration value="education"/>
			<xs:enumeration value="election"/>
			<xs:enumeration value="emigration"/>
			<xs:enumeration value="engagement"/>
			<xs:enumeration value="firstCommunion"/>
			<xs:enumeration value="graduation"/>
			<xs:enumeration value="immigration"/>
			<xs:enumeration value="inventory"/>
			<xs:enumeration value="journey"/>
			<xs:enumeration value="marriage"/>
			<xs:enumeration value="marriageBanns"/>
			<xs:enumeration value="marriageContract"/>
			<xs:enumeration value="marriageLicense"/>
			<xs:enumeration value="marriageSettlement"/>
			<xs:enumeration value="medicalInformation"/>
			<xs:enumeration value="militaryService"/>
			<xs:enumeration value="naturalization"/>
			<xs:enumeration value="nobilityTitle"/>
			<xs:enumeration value="occupation"/>
			<xs:enumeration value="ordination"/>
			<xs:enumeration value="origin"/>
			<xs:enumeration value="probation"/>
			<xs:enumeration value="property"/>
			<xs:enumeration value="reburial"/>
			<xs:enumeration value="registration"/>
			<xs:enumeration value="religiousConversion"/>
			<xs:enumeration value="relocation"/>
			<xs:enumeration value="retirement"/>
			<xs:enumeration value="settlement"/>
			<xs:enumeration value="transaction"/>
			<xs:enumeration value="will"/>
		</xs:restriction>
	</xs:simpleType>


	<?gb sect=4 en="Place Role Enumeration Types" nl="Plaats rol enumeratie types" id="Place-role-enumerations"?>


	<?gb sect=4 en="Group Role Enumeration Types" nl="Groep rol enumeratie types" id="Group-role-enumerations"?>

	<?gb sect=4 en="Event Role Enumeration Types" nl="Event rol enumeratie types" id="Event-role-enumerations"?>

	<?gb sect=3 en="Feature Enumeration Types" nl="Feature enumeratie types" id="Feature-enumerations"?>


	<?gb sect=3 en="Other Enumeration Types" nl="Overige enumeratie types" id="Other-enumerations"?>

	<!-- entity types -->

	<?gb sect=2 en="Feature Types" nl="Feature types" id="Features"?>

	<?gb sect=2 en="Entity Types" nl="Entity types" id="Entity-types"?>
	<?gb sect=3 en="Event Type and Subtypes" nl="Event type en subtypes" id="Event-types"?>

	<?gb sect=3 en="Person Types" nl="Persoon types" id="Person-types"?>
	
	<xs:simpleType name="fractionType">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="fractionsType">
		<xs:restriction>
			<xs:simpleType>
				<xs:list itemType="i:fractionType"/>
			</xs:simpleType>
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
			<xs:pattern value=".{1,100}"></xs:pattern>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="personNameType">
		<xs:simpleContent>
			<xs:extension base="i:fractionsType"/> 
		</xs:simpleContent>
	</xs:complexType>
	
	
	<xs:simpleType name="placePrefixType">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="placePrefixesType">
		<xs:restriction>
			<xs:simpleType>
				<xs:list itemType="i:placePrefixType"/>
			</xs:simpleType>
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
			<xs:pattern value=".{1,16}"></xs:pattern>
		</xs:restriction>
	</xs:simpleType>
	
	
	<xs:group name="surnameGroup">
		<xs:annotation>
			<xs:documentation xml:lang="nl">
				De achternaam van een persoon, indien bekend. De volgorde van de naamdelen moet de volgorde waarin de persoon, door gewoonte van zijn of haar cultuur, deze zou hebben gebruikt bij het geven van zijn of haar naam aan een recorder.
				
				Als een deel van de naam onleesbaar is wordt dat deel aangegeven door een weglatingsteken (...).
				
				Hoofdlettergebruik van de naam van een persoon dient plaats te vinden op gebruikelijke wijze. De eerste letter van elk onderdeel en kleine letters de andere letters, tenzij conventioneel gebruik anders is. Bijvoorbeeld: McMurray.
			</xs:documentation>
			<xs:documentation xml:lang="en">
				The surname of an individual, if known. The order of the name parts should be the order that the person would, by custom of their culture, have used when giving it to a recorder.
				
				If part of name is illegible, that part is indicated by an ellipsis (...).
				
				Capitalize the name of a person or place in the conventional manner. Capitalize the first letter of each part and lowercase the other letters, unless conventional usage is otherwise. For example: McMurray.
				(source: gedcom)
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="prefix" type="i:personNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation> Prefix for the Familyname </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="surname" minOccurs="1">
				<xs:annotation>
					<xs:documentation> Family name or Surname </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="i:personNameType">
							<xs:attribute name="type" type="i:surnameTypesEnum"/>
						<!--	<xs:attribute name="primary" type="xs:boolean"/> -->
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="connector" type="i:fractionType" minOccurs="0"/>
		</xs:sequence>
	</xs:group>
	<xs:group name="personNameGroup">
		<xs:sequence>
			<xs:element name="title" type="i:personNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation> Appellation belonging to a person by right of rank, office,
						attainment </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="initials" type="i:personNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation> Only the first letters of the forenames </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="common" type="i:personNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation> Informal name, first forename, given name for daily use
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="given" type="i:personNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation> Given name, forename(s), first name, christian name
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="i:surnameGroup" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>
						Family name
					</xs:documentation>
				</xs:annotation>
			</xs:group>
			<xs:element name="mononym" type="i:personNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation> single name </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nickname" type="i:personNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation> alternative name either symbolizing a form of acceptance or
						ridicule </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pseudonym" type="i:personNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation> false name that differs from original "true name"
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="anonymous" type="i:personNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation> a name unknown or deliberately withheld </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="i:personNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation> a name of which its type is undefined or unknown
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="suffix" type="i:personNameType"/>
		</xs:sequence>
	</xs:group>

	<xs:complexType name="unitType">
		<xs:sequence>
			<xs:element minOccurs="0" name="access" type="g:accessType"/>
			<xs:group maxOccurs="16" minOccurs="1" ref="i:entitiesGroup"/>
			<xs:group minOccurs="0" ref="i:filesGroup"/>
		</xs:sequence>
		<xs:attribute name="id" type="g:remoteIDType" use="required">
			<xs:annotation>
				<xs:documentation>This is the Id that may have been imported from external
						sources, and may also be exported. The UUID should never change, and it
						should accompany this chunk of information during its entire life, whether
						that be inside or outside this system.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="prevID" type="g:remoteIDType">
			<xs:annotation>
				<xs:documentation>ID from the external exporting system for this unit, as an
						alternative or in addition to the UUID. This value is deprecated and may not
						be supported in the future. Please use uuid instead. If provided, it will be
						used as a unique key, and will replace any other item with this same
						key.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute default="false" name="deleted" type="xs:boolean" use="optional"/>
		<xs:attribute default="true" name="public" type="xs:boolean" use="optional"> </xs:attribute>
		<xs:attribute name="publicDate" type="xs:date"/>
	</xs:complexType>
	<xs:complexType name="personType">
		<xs:sequence>
			<xs:group ref="i:personNameGroup"/>
		</xs:sequence>
		<xs:attribute name="id" type="i:personId"/>
		<xs:attribute name="role" type="i:personRoleEnum"/>
		<xs:attribute name="file" type="g:fileNameType"/>
		<xs:attributeGroup ref="i:filePosAttributes"/>
	</xs:complexType>

	<?gb sect=3 en="Place Types and Groups" nl="Place types and groups" id="Place-types"?>
	<xs:complexType name="placeType">
		<xs:sequence>
			<xs:group ref="i:placeNameGroup" minOccurs="0"/>
			<xs:element name="literal" type="g:string200" minOccurs="0" maxOccurs="1"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="link" type="i:toPersonType"/>
		</xs:sequence>
		<xs:attribute name="id" type="i:placeId"/>
		<xs:attribute name="file" type="g:fileNameType"/>
		<xs:attribute name="event" type="i:eventTypesEnum"/>
		<xs:attributeGroup ref="i:filePosAttributes"/>
	</xs:complexType>
	<xs:complexType name="dateType">
		<xs:sequence>
			<xs:element minOccurs="0" name="literal" type="g:string200"/>
			<xs:element maxOccurs="1" minOccurs="0" name="link" type="i:toPersonType"/>
		</xs:sequence>
		<xs:attribute name="value" type="g:dateType" use="required"/>
		<xs:attribute name="file" type="g:fileNameType"/>
		<xs:attribute name="event" type="i:eventTypesEnum"/>
		<xs:attributeGroup ref="i:filePosAttributes"/>
	</xs:complexType>
	<xs:complexType name="otherType">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="literal" type="g:string200"/>
			<xs:element maxOccurs="1" minOccurs="0" name="link" type="i:toAnyType"/>
		</xs:sequence>
		<xs:attribute name="feature" type="g:string50" use="required"/>
		<xs:attribute name="value" type="g:string100"/>
	</xs:complexType>
	<xs:group name="entitiesGroup">
		<xs:choice>
			<xs:element name="person" type="i:personType"/>
			<xs:element name="place" type="i:placeType"/>
			<xs:element name="date" type="i:dateType"/>
			<xs:element name="other" type="i:otherType"/>
		</xs:choice>
	</xs:group>
	<xs:group name="filesGroup">
		<xs:choice>
			<xs:element maxOccurs="16" minOccurs="1" name="file">
				<xs:complexType>
					<xs:attribute name="name" type="g:fileNameType"/>
					<xs:attributeGroup ref="i:filePosAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="folder">
				<xs:complexType>
					<xs:attribute name="name" type="g:fileNameType" use="required"/>
					<xs:attribute name="start" type="g:fileNameType"/>
					<xs:attribute name="end" type="g:fileNameType"/>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:group>
	<xs:complexType name="placeNameType">
		<xs:simpleContent>
			<xs:extension base="i:fractionsType">
				<xs:attribute name="prefix" type="i:placePrefixesType"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:group name="placeNameGroup">
		<xs:sequence>
			<xs:element name="planet" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="continent" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="worldRegion" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="countryGroup" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="kingdom" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="bundesrepublik" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="federation" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="republic" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="country" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="land" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="islandGroup" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="island" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="state" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="province" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="region" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="county" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="prefecture" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="kreis" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="stadtkreis" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="departement" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="arrondissement" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="municipality" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="deelgemeente" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="canton" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="district" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="metropolitan" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="independentCity" type="i:placeNameType" minOccurs="0"/>

			<xs:element name="city" type="i:placeNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">May also be used for a place when the exact type of place (city, town, village) is not known.</xs:documentation>
					<xs:documentation xml:lang="nl">Mag ook gebruikt worden voor algemene aanduiding van een woonplaats, waarbij het type plaats niet bekend is.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="stadsdeel" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="town" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="village" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="township" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="borough" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="quarter" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="street" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="sea" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="lake" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="canal" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="river" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="forest" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="area" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="areaCode" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="park" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="parking" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="market" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="square" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="courtyard" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="airport" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="harbor" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="bridge" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="trailerPark" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="industrialArea" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="landingStage" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="factory" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="school" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="church" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="cemetary" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="grave" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="postalCode" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="number" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="numberAddition" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="block" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="building" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="floor" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="apartment" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="room" type="i:placeNameType" minOccurs="0"/>
			<xs:element name="name" type="i:placeNameType" minOccurs="0"/>
		</xs:sequence>
	</xs:group>

	<?gb sect=3 en="Group Type and Subtypes" nl="Group type en subtypes" id="Group-types"?>


	<?gb sect=2 en="Relation Types" nl="Relatie types" id="reg-relation-types"?>
	<?gb sect=3 en="Event Relation Types" nl="Event relatie types" id="Event-relation-types"?>
	<?gb sect=3 en="Group Relation Types" nl="Groep relatie types" id="Group-relation-types"?>
	<?gb sect=3 en="Person Relation Types" nl="Persoon relatie types" id="Person-relation-types"?>

	<?gb sect=3 en="Place Relation Types" nl="Plaats relatie types" id="Place-relation-types"?>
	<xs:complexType name="toPersonType">
		<xs:attribute name="to" type="i:personId"/>
	</xs:complexType>


	<?gb sect=2 en="Entity Collection Types" nl="Entiteit-collectie types" id="Grouping"?>

	<?gb sect=2 en="Other Types" nl="Overige types" id="Other-types"?>


	<xs:complexType name="toAnyType">
		<xs:attribute name="to" type="i:personOrPlaceId"/>
	</xs:complexType>

	<?gb sect=1 en="Attribute groups" nl="Attribuut groepen" id="Attribute-groups"?>
	<xs:attributeGroup name="registerAttributes">
		<xs:attribute name="id" type="g:uuidType"/>
		<xs:attribute name="code" type="g:fileNameType" use="required">
			<xs:annotation>
				<xs:documentation>The UUID of the register that this Unit is to be applied
					to.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="version" type="xs:dateTime" use="required"/>
		<xs:attribute name="repository" type="g:repositoryIDType" use="required"/>
		<xs:attribute name="name" type="g:string100" use="required">
			<xs:annotation>
				<xs:documentation>The name of the register.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="part" type="i:partType" default="1"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="filePosAttributes">
		<xs:attribute name="geometry" type="g:rectangleType">
			<xs:annotation>
				<xs:documentation>This defines the geometric location on the Image, or on the Video,
					by defining a geometric shape in Well Known Text Format
					(WKT).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="page" type="g:positiveShortType">
			<xs:annotation>
				<xs:documentation>Only applicable if the uploaded file is of type Document (Word or
					PDF). The Page is the Nth page within the Document.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="startTime" type="xs:time">
			<xs:annotation>
				<xs:documentation>Only applicable for Audio and Video FileEntities, indicating the
					start time in milliseconds at this media that the description is
					located.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="endTime" type="xs:time">
			<xs:annotation>
				<xs:documentation>Only if StartTime is defined, this value specifies the end time in
					milliseconds at this media that the description is located.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>

	<?gb sect=1 en="Elements" nl="Elementen" id="Elements"?>
	<?gb sect=2 en="Structural Elements" nl="Structurele elementen" id="Structural-elements"?>
	<xs:element name="register">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="access" type="g:accessType"/>
				<xs:element name="unit" maxOccurs="unbounded">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="i:unitType"/>

						</xs:complexContent>
					</xs:complexType>
					<xs:unique name="entityID">
						<xs:selector xpath=".//*"/>
						<xs:field xpath="@id"/>
					</xs:unique>
					<xs:keyref name="linkRef" refer="i:entityID">
						<xs:selector xpath=".//link"/>
						<xs:field xpath="@to"/>
					</xs:keyref>
				</xs:element>
			</xs:sequence>
			<xs:attributeGroup ref="i:registerAttributes"/>
		</xs:complexType>
		<xs:unique name="uniqueUnitID">
			<xs:selector xpath="./i:unit"/>
			<xs:field xpath="@id"/>
		</xs:unique>
	</xs:element>


	<?gb sect=2 en="Entity Elements" nl="Entiteit elementen" id="Entity-elements"?>

	<?gb sect=2 en="Entity Group Elements" nl="Entiteit-collectie elementen" id="Entity-group-elements"?>

	<?gb sect=2 en="Feature Elements" nl="Feature elementen" id="Feature-elements"?>

	<?gb sect=2 en="Feature Group Elements" nl="Feature-collectie elementen" id="Feature-group-elements"?>



	<?gb sect=2 en="Relation Elements" nl="Relatie elementen" id="Relation-elements"?>
	<?gb sect=3 en="Event Relation Elements" nl="Event relatie elementen" id="Event-relation-elements"?>
	<?gb sect=3 en="Group Relation Elements" nl="Groep relatie elementen" id="Group-relation-elements"?>
	<?gb sect=3 en="Person Relation Elements" nl="Persoon relatie elementen" id="Person-relation-elements"?>
	<?gb sect=3 en="Place Relation Elements" nl="Plaats relatie elementen" id="Place-relation-elements"?>
	<!-- <xs:element name="placeToPerson" type="i:placeToPerson"/> -->
	<!-- <xs:element name="groupToPerson" type="i:personToGroup"/> -->
	<!--<xs:element name="placeToGroup" type="i:groupToPlace"/>-->
	<!-- <xs:element name="eventToGroup" type="i:groupToEvent"/>-->

	<?gb sect=2 en="Other Elements" nl="Overige elementen" id="Other-elements"?>

	<?gb sect=1 en="Element Groups" nl="Element groepen" id="Element-groups"?>
</xs:schema>
