2012-v1/catalog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:cat="http://schemas.geneabase.com/2012-v1/catalog"
    targetNamespace="http://schemas.geneabase.com/2012-v1/catalog" elementFormDefault="qualified"
    xmlns:mix="http://www.loc.gov/mix/v20">

    <xs:import namespace="http://www.loc.gov/mix/v20"
        schemaLocation="http://schemas.geneabase.com/2012-v1/mix20.xsd"/>
    <xs:element name="catalog" type="cat:catalogType">
        <xs:unique name="uniqueFolderID">
            <xs:selector xpath="./cat:root/cat:folders/cat:folder|./cat:root"/>
            <xs:field xpath="@id"/>
        </xs:unique>

        <xs:unique name="uniqueFileID">
            <xs:selector
                xpath="./cat:root/cat:files/cat:file|cat:root/cat:folders/cat:files/cat:file"/>
            <xs:field xpath="@id"/>
        </xs:unique>

        <xs:keyref name="conflictFolderKeyRef" refer="cat:uniqueFolderID">
            <xs:selector xpath="./cat:conflicts/cat:folders/cat:folder"/>
            <xs:field xpath="@conflictsWith"/>
        </xs:keyref>

        <xs:unique name="uniqueVersion">
            <xs:selector xpath=".|./cat:merged/*"/>
            <xs:field xpath="@version"/>
        </xs:unique>

        <xs:keyref name="changeVersion" refer="cat:uniqueVersion">
            <xs:selector xpath=".//cat:change"/>
            <xs:field xpath="@version"/>
        </xs:keyref>
    </xs:element>

    <xs:element name="root" type="cat:rootFolderType"/>
    <xs:element name="files" type="cat:filesType">
        <xs:unique name="uniqueFileName">
            <xs:selector xpath="./cat:file"/>
            <xs:field xpath="@folder"/>
            <xs:field xpath="@name"/>
            <xs:field xpath="@ext"/>
        </xs:unique>
        <xs:unique name="uniqueSrc">
            <xs:selector xpath="./cat:file"/>
            <xs:field xpath="@src"/>
        </xs:unique>
    </xs:element>

    <xs:element name="file" type="cat:fileType"/> 

    <xs:element name="folders" type="cat:foldersType">
        <xs:unique name="uniqueFolderName">
            <xs:selector xpath="./cat:folder"/>
            <xs:field xpath="@parent"/>
            <xs:field xpath="@name"/>
            <xs:field xpath="@deleted"/>
        </xs:unique>
        <xs:unique name="uniqueSubFolderID">
            <xs:selector xpath="./cat:folder"/>
            <xs:field xpath="@id"/>
        </xs:unique>
        <xs:keyref name="subFolderParentKeyRef" refer="cat:uniqueSubFolderID">
            <xs:selector xpath="./cat:folder"/>
            <xs:field xpath="@parent"/>
        </xs:keyref>
    </xs:element>
    <xs:element name="folder" type="cat:folderType"> </xs:element>
    <xs:element name="conflicts">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="folders">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="1" name="folder">
                                <xs:complexType>
                                    <xs:attribute name="id" type="cat:uuidType" use="required">
                                        <xs:annotation>
                                            <xs:documentation>In case of a folderconflict, the UUID
                                                is always the cause of the conflict.</xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="parent" type="cat:uuidType"/>
                                    <xs:attribute name="name" type="cat:fileNameType"/>
                                    <xs:attribute name="digest" type="cat:md5Type"/>
                                    <xs:attribute name="kBytes" type="xs:positiveInteger"/>
                                    <xs:attribute name="files" type="xs:nonNegativeInteger"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute default="0" name="count" type="xs:nonNegativeInteger"
                            use="optional"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="files" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="file">
                                <xs:complexType>
                                    <xs:attribute name="id" type="cat:uuidType" use="optional"/>
                                    <xs:attribute name="conflictFolder" type="cat:uuidType"/>
                                    <xs:attribute name="conflictFile" type="cat:uuidType"
                                        use="required"/>
                                    <xs:attribute name="folder" type="cat:uuidType" use="required"/>
                                    <xs:attribute name="name" type="cat:fileNameType"
                                        use="required"/>
                                    <xs:attribute name="ext" type="cat:extensionType"
                                        use="required"/>
                                    <xs:attribute name="type" type="cat:fileEnumType"
                                        use="optional"/>
                                    <xs:attribute name="creationTime" type="xs:dateTime"/>
                                    <xs:attribute name="lastWriteTime" type="xs:dateTime"/>
                                    <xs:attribute name="bytes" type="xs:positiveInteger"
                                        use="required"/>
                                    <xs:attribute name="digest" type="cat:md5Type" use="required"
                                    />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute default="0" name="count" type="xs:nonNegativeInteger"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="catalogType">
        <xs:sequence>
            <xs:element name="merged" maxOccurs="1" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="catalog" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:attributeGroup ref="cat:catalogAttributes"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
                <xs:unique name="uniqueMerge">
                    <xs:selector xpath="*"/>
                    <xs:field xpath="@version"/>
                </xs:unique>
            </xs:element>
            <xs:element name="description" type="cat:descriptionType" minOccurs="0"/>
            <xs:element minOccurs="0" name="ignored">
                <xs:annotation>
                    <xs:documentation>In case this inventory describes a physical directory of folders and files, this element defines a list of rules of files that are not included in the inventory.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="spec" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>A single rule defining a directory, a group of directories, a file or group of files that are ignored. if only a folder is defined, all files matching that folder, or any of its subfolders, are ignored. if only a filename is defined, these files in any directory are ignored.  if both omitted, it means all files are ignored.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:attribute name="folder" type="cat:nameType">
                                    <xs:annotation>
                                        <xs:documentation>name of folder that is ignored in this inventory. example: $RECYCLE.BIN</xs:documentation>
                                    </xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="file" type="cat:nameType" use="optional">
                                    <xs:annotation>
                                        <xs:documentation>the filename part, without the extension, of the file that is ignored. may contain example: Thumbs</xs:documentation>
                                    </xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="extension" type="cat:extensionType">
                                    <xs:annotation>
                                        <xs:documentation>the extension of the file that is ignored. exmample ".db"</xs:documentation>
                                    </xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="reason" type="cat:ignoreReasonEnumType"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element ref="cat:root" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>at least one folder must be listed here: the root folder of which  this inventory is an inventory of</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="cat:conflicts" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="cat:catalogAttributes"/>
        <xs:attribute default="1" name="numParts" type="xs:positiveInteger"/>
        <xs:attribute default="1" name="part" type="xs:positiveInteger"/>
        <xs:attribute name="files" type="xs:nonNegativeInteger" default="0"/>
        <xs:attribute name="folders" type="xs:nonNegativeInteger" default="0"/>
        <xs:attribute name="kBytes" type="xs:nonNegativeInteger" default="0"/>
    </xs:complexType>
    <xs:complexType name="foldersType">
        <xs:sequence minOccurs="0">
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="cat:folder"/>
        </xs:sequence>
        <xs:attribute name="count" type="xs:positiveInteger" use="required"/>
        <xs:attribute default="Full" name="list" type="cat:listEnumType"/>
    </xs:complexType>
    <xs:complexType name="folderBaseType">
        <xs:sequence minOccurs="0">
            <xs:element name="description" type="cat:descriptionType" minOccurs="0"/>
            <xs:element ref="cat:files" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="cat:uuidType" use="required"/>
        <xs:attribute default="Full" name="list" type="cat:listEnumType"/>
        <xs:attribute name="digest" type="cat:md5Type" use="required"/>
        <xs:attribute name="files" type="xs:nonNegativeInteger" default="0"/>
        <xs:attribute name="subFiles" type="xs:nonNegativeInteger" default="0"/>
        <xs:attribute name="folders" type="xs:nonNegativeInteger" default="0"/>
        <xs:attribute name="subFolders" type="xs:nonNegativeInteger" default="0"/>
        <xs:attribute name="kBytes" type="xs:nonNegativeInteger" default="0"/>
        <xs:attribute name="subKBytes" type="xs:nonNegativeInteger" default="0"/>
        <xs:attribute default="false" name="hasOwnInventory" type="xs:boolean"/>
        <xs:attribute name="deleted" type="xs:boolean" default="false"/>
        <xs:attribute name="copy" type="cat:copyEnumType">
            <xs:annotation>
                <xs:documentation>The direction that this folder has to be copied to, if it has to be copied at all.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute default="false" name="continued" type="xs:boolean">
            <xs:annotation>
                <xs:documentation>this folder was already defined in an earlier part of this catalog (see catalog/@numParts), and definition is continued here, for the sole purpose of further listing of files of its folders, or one of its child folders.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="rootFolderType">
        <xs:complexContent>
            <xs:extension base="cat:folderBaseType">
                <xs:sequence minOccurs="0">
                    <xs:element ref="cat:folders" minOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="folderType">
        <xs:complexContent>
            <xs:extension base="cat:folderBaseType">
                <xs:attribute name="name" type="cat:fileNameType"/>
                <xs:attribute name="parent" type="cat:uuidType"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="filesType">
        <xs:sequence>
            <xs:element ref="cat:file" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute default="Full" name="list" type="cat:listEnumType"/>
        <xs:attribute name="count" type="xs:positiveInteger" use="required"/>
    </xs:complexType>
    <xs:complexType name="fileType">
        <xs:sequence minOccurs="0">
            <xs:element name="description" type="cat:descriptionType" minOccurs="0"/>
            <xs:element name="data" type="xs:base64Binary" minOccurs="0"/>
            <xs:element ref="mix:mix" minOccurs="0"/>
            <xs:element minOccurs="0" name="changes">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="change" type="cat:fileChangeType"
                        />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="cat:uuidType" use="required"/>
        <xs:attribute name="src" type="xs:anyURI" use="optional"/>
        <xs:attribute name="name" type="cat:fileNameType" use="required"/>
        <xs:attribute name="ext" type="cat:extensionType" use="required"/>
        <xs:attribute name="type" type="cat:fileEnumType" use="optional"/>
        <xs:attribute name="creationTime" type="xs:dateTime"/>
        <xs:attribute name="lastWriteTime" type="xs:dateTime"/>
        <xs:attribute name="bytes" type="xs:positiveInteger" use="required"/>
        <xs:attribute name="digest" type="cat:md5Type" use="required"/>
        <xs:attribute name="mask" type="cat:polygonType"/>
        <xs:attribute name="deleted" type="xs:boolean" default="false"/>
        <xs:attribute name="valid" type="xs:boolean"/>
        <xs:attribute name="copy" type="cat:copyEnumType">
            <xs:annotation>
                <xs:documentation>The direction that this file has to be copied to, if it has to be copied at all.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="folderChangeType">
        <xs:attribute name="id" type="cat:uuidType"/>
        <xs:attribute name="version" type="xs:dateTime" use="required"/>
        <xs:attribute name="name" type="cat:fileNameType"/>
        <xs:attribute name="digest" type="cat:md5Type"/>
        <xs:attribute name="numBytes" type="xs:positiveInteger"/>
        <xs:attribute name="numFiles" type="xs:nonNegativeInteger"/>
        <xs:attribute name="parent" type="cat:uuidType"/>
        <xs:attribute name="deleted" type="xs:boolean"/>
    </xs:complexType>

    <xs:complexType name="fileChangeType">
        <xs:attribute name="id" type="cat:uuidType"/>
        <xs:attribute name="version" type="xs:dateTime" use="required"/>
        <xs:attribute name="name" type="cat:fileNameType"/>
        <xs:attribute name="extension" type="cat:extensionType"/>
        <xs:attribute name="folder" type="cat:uuidType"/>
        <xs:attribute name="type" type="cat:fileEnumType"/>
        <xs:attribute name="creationTime" type="xs:dateTime"/>
        <xs:attribute name="lastWriteTime" type="xs:dateTime"/>
        <xs:attribute name="numBytes" type="xs:positiveInteger"/>
        <xs:attribute name="digest" type="cat:md5Type"/>
        <xs:attribute name="mask" type="cat:polygonType"/>
        <xs:attribute name="deleted" type="xs:boolean"/>
        <xs:attribute name="valid" type="xs:boolean"/>
        <xs:attribute name="noCreationTime" type="xs:boolean"/>
        <xs:attribute name="noLastWriteTime" type="xs:boolean"/>
        <xs:attribute name="noMask" type="xs:boolean"/>
        <xs:attribute name="noValid" type="xs:boolean"/>
    </xs:complexType>

    <xs:attributeGroup name="catalogAttributes">
        <xs:attribute name="name" type="cat:nameType"/>
        <xs:attribute name="version" type="xs:dateTime" use="required"/>
        <xs:attribute name="digest" type="cat:md5Type"/>
        <xs:attribute name="signature" type="xs:string"/>
        <xs:attribute name="source" type="cat:sourceEnumType" use="required"/>
        <xs:attribute name="sourceName" type="cat:nameType"/>
        <xs:attribute name="sourceID" type="cat:uuidType"/>
    </xs:attributeGroup>


    <xs:simpleType name="uuidType">
        <xs:restriction base="xs:string">
            <xs:length value="36"/>
            <xs:pattern
                value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"
            />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="md5Type">
        <xs:restriction base="xs:string">
            <xs:length value="32"/>
            <xs:pattern value="[a-f0-9]{32}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="nameType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="100"/>
            <xs:whiteSpace value="collapse"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="fileNameType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="100"/>
            <xs:whiteSpace value="collapse"/>
            <xs:pattern value="[^?:,\*/\\*&quot;>&lt;|=]+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="extensionType">
        <xs:restriction base="xs:string">
            <xs:minLength value="2"/>
            <xs:maxLength value="6"/>
            <xs:pattern value="[a-zA-Z0-9]*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="descriptionType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="200"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="polygonType">
        <xs:restriction base="xs:string">
            <xs:pattern value="POLYGON\(\(\d+ \d+(,\d+ \d+){2,}\)(,\(\d+ \d+(,\d+ ){2,}\))*\)"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="fileEnumType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Image"/>
            <xs:enumeration value="Video"/>
            <xs:enumeration value="Audio"/>
            <xs:enumeration value="Archive"/>
            <xs:enumeration value="Document"/>
            <xs:enumeration value="Digest"/>
            <xs:enumeration value="Other"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="sourceEnumType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Client"/>
            <xs:enumeration value="Server"/>
            <xs:enumeration value="Peer"/>
            <xs:enumeration value="Drive"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ignoreReasonEnumType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Junk"/>
            <xs:enumeration value="Corrupt"/>
            <xs:enumeration value="Conflict"/>
            <xs:enumeration value="Obsolete"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="listEnumType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Full"/>
            <xs:enumeration value="Partial"/>
            <xs:enumeration value="None"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="copyEnumType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="in">
                <xs:annotation>
                    <xs:documentation>
                        file or folder should be copied FROM the source on which the merge took place, TO the origin at which this merge took place (defined as Source attribute of this inventory)
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="out">
                <xs:annotation>
                    <xs:documentation>
                        file or folder should be copied TO the source on which the merge took place, FROM the origin at which this merge took place  (defined as Source attribute of this inventory)
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
